# app:
MONGO_URL_DOCKER=mongodb://root:example@mongo:27017
HTTP_PORT=3002

#frontend:
PORT=50012
APP_URL=http://localhost
APP_PORT=3002

# mongo-express:
ME_CONFIG_BASICAUTH_USERNAME=admin
ME_CONFIG_BASICAUTH_PASSWORD=admin
ME_CONFIG_MONGODB_ADMINUSERNAME=root
ME_CONFIG_MONGODB_ADMINPASSWORD=example
ME_CONFIG_MONGODB_URL=mongodb://root:example@mongo:27017
